{% extends 'base.html.twig' %}

{% block title %}Hello MangerController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>Welcome {{ userManager }}! ✅</h1>

        <table style="width:100%">
            <tr>
                <th>OPEN TICKETS</th>
                <th>CLOSE TICKETS</th>
                <th>REOPEN TICKETS</th>
            </tr>
            <tr>


                <td>{{ showTicketsOpen }}</td>

                <td>{{ showTicketsClose }}</td>

                <td>{{ showTickets }}</td>


            </tr>
        </table>

        <a href="{{ path('ticketlist') }}">Show Tickets</a>

        <a href="{{ path('AddAgent') }}" >Add Agent</a>

    </div>
{% endblock %}
