{% extends 'base.html.twig' %}

{% block title %}Hello MangerController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>Welcome {{ userManager }}! ✅</h1>

        <table style="width:100%">
            <tr>
                <th>OPEN TICKETS</th>
                <th>CLOSE TICKETS</th>
                <th>REOPEN TICKETS</th>
            </tr>
            <tr>



                {% set foo = 0 %}
                <td>{{ showTicketsOpen }}</td>

                <td>{{ showTicketsClose }}</td>

                {% for r in reopnTicket  %}
                    {% if r.reOpen != 0  %}
                        <td>{{  ++ r.reOpen }}</td>
                        {% set foo = r.reOpen %}
                    {% endif %}
                {% endfor %}

            </tr>
        </table>

        <h3>OPEN TICKETS - CLOSE TICKETS {{ showTicketsOpen /(showTicketsOpen + showTicketsClose) }} %</h3>

        <h3>CLOSE TICKETS - REOPEN TICKETS {{ showTicketsClose/(showTicketsOpen + foo) }} %</h3>

        <a href="{{ path('ticketlist') }}">Show Tickets</a>

        <a href="{{ path('AddAgent') }}" >Add Agent</a>

    </div>
{% endblock %}
