{% extends 'base.html.twig' %}

{% block title %}Hello CustomerController!{% endblock %}

{% block body %}
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        * {
            box-sizing: border-box;
        }

        h1 {
            text-align: center;
            color: black;
        }

        button {
            background-color: deeppink;
            color: white;
            padding: 20px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        input[type=text], select, textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
        }

        input[type=submit] {
            background-color: #4CAF50;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        input[type=submit]:hover {
            background-color: #45a049;
        }

        .container {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
        }
    </style>
    <div class="example-wrapper">
        <h1>Create a ticket on our site</h1>
        {{ form_start(createTicket) }}
        {{ form_row(createTicket.ticketTitle) }}
        {{ form_row(createTicket.description) }}
        <button type="submit" class="btn" name="submit">Send ticket</button>
        {{ form_end(createTicket) }}

    </div>
    <h1 id="openTitle">Open tickets that you have sent</h1>
    {% for ticket in allTickets %}

        {% if  ticket.ticketStatus  == 'open' %}

            <h3>Ticket ID: {{ ticket.id }}</h3>

            <p><strong>Subject: </strong>{{ ticket.TicketTitle }}</p>

            <p><strong>Status: </strong>{{ ticket.ticketStatus }}</p>

            <p><strong>Description: </strong>{{ ticket.description }}</p>


            <h3>Add a comment: <textarea></textarea></h3>
            <button type="submit" class="btn" name="submit">Send comment</button>

        {% endif %}

    {% endfor %}

{% endblock %}
