{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    <div class="example-wrapper">
    <section>
        <h1>Hello Agent {{ name }}</h1>
        <h3>Open tickets: </h3>
        <table>
            {% for t in unSelectedTicket %}
                <tr>
                    <td><h3><a href="{{ path('detail', {'ticket': t.id}) }}" >{{  t.ticketTitle }}</a></h3></td>
                    <td><h3>{{  t.openTimee|date("m-d H:i") }}</h3></td>
                    <td><h3>{{  t.ticketStatus }}</h3></td>
                    <td><form method="post"><button type="submit" name="select" value="{{ t.id }}">Select</button></form></td>
                </tr>
            {% endfor %}
        </table>
    </section>
    <section>
        <h3>Your selected tickets: </h3>
        {% if selectedTicket != null %}
            <table>
                {% for t in selectedTicket %}
                    <tr>
                        <td><h3><a href="{{ path('detail', {'ticket': t.id}) }}" >{{  t.ticketTitle }}</a></h3></td>
                        <td><h3>{{  t.openTimee|date("m-d H:i") }}</h3></td>
                        <td><h3>{{  t.ticketStatus }}</h3></td>
                        <td><form method="post"><button type="submit" name="select" value="{{ t.id }}">Select</button></form></td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </section>
    </div>
{% endblock %}
